<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d %-5p (%F:%L) - %m%n" />
		</Console>
	</appenders>

	<loggers>
		<!-- Application Loggers -->
		<logger name="com.kdb" level="debug" includeLocation="true"/>

		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core" level="debug" includeLocation="true"/>
		<logger name="org.springframework.beans" level="debug" includeLocation="true"/>
		<logger name="org.springframework.context" level="debug" includeLocation="true"/>
		<logger name="org.springframework.web" level="debug" includeLocation="true" />

		<root level="warn" includeLocation="true">
			<appender-ref ref="CONSOLE" />
		</root>
	</loggers>
</configuration>
